<!DOCTYPE html>
<head><title>Deposit</title></head>
<body>
    <center>
        <form method="post" action="/Drecords">
            <table border="30">
                <h3>Deposit Amount !</h3> 
                <tr><td> 500  </td> <td><input type="number" placeholder="Count 500 cash" name="c500"></td></tr> <br>
                <tr><td>1000 </td> <td><input type="number" placeholder="Count 1000 cash" name="c1000"></td></tr> <br>
                <tr><td>2000 </td> <td><input type="number" placeholder="Count 2000 cash" name="c2000"></td></tr> <br>
            </table>
            <tr><td><button>Deposit</button></td> <td></td></tr>
        </form>
    </center>
</body>